<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Application for Apprenticeship</title>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
</head>
<body>
    <div class='welcome'>
        <h1>Apprentices Application Time!</h1>
        <form>
            <p>name <input type="text"></p>
            <p>e-mail <input type="text"></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>