<header class="page-header"></header>
  <%= image_tag "SBX_logo_icon_2.svg", class: "logo-special--2", alt: "Sparkbox Logo" %>
<section class="info">
  <h1 class="info-header">Your Application is on it's way to a Sparkboxer!</h1>
    <i id="my-icon" class="fa fa-paper-plane strong"></i>
  <p class="info-secondary">Take a minute to look over your entries. If you need to go back and make some edits, you can do this before submitting. Once you hit Submit, your application will be submitted as is. Be sure it contains all the information you want us to have about you.</p>
</section>