<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header class="page-header"></header>
  <%= image_tag "SBX_logo_icon_2.svg", class: "logo-special--2", alt: "Sparkbox Logo" %>
<section class="info">
  <h1 class="info-header--final-notification">Your Application is on it's way to a Sparkboxer!</h1>
  <i class="fa fa-paper-plane"></i>
</section>
<div class="container"></div>