<div class="container">
	<h2 class="input-header">Demographic Information</h2>
  	<%= f.text_field :phone_number, :class => 'text-short', :placeholder => 'phone number', :maxlength => '128' %>
 	<%= f.text_field :address, :class => 'text-short', :placeholder => 'address', :maxlength => '128' %>
  	<%= f.text_field :url, :class => 'text-short', :placeholder => 'personal url', :maxlength => '128' %>
 	<%= f.text_field :social_url, :class => 'text-short', :placeholder => 'social url', :maxlength => '128' %>
</div> 