<section class="info">
  <h1 class="info-header">Step 2</h1>
  <p class="info-secondary">Wow. We're just blowing through nap time, aren't we. You go buy a tape recorder and record yourself for a whole day. I think you'll be surprised at some of your phrasing. Obviously this blue part here is the land.</p>
</section>