<div class="container">
    <h2 class="input-header">Who Am I?</h2>
    <%= f.text_area :about_me , :class => 'text-box', :placeholder => 'Tell us about yourself brosis' %>
    <%= f.hidden_field :id %>
</div>

