body {
	background-color: #CDF5DC;
}

.logo {
	text-align: center;
}

.container {
	text-align: center;
}

.new_apprenticeapplication {
	background-color: #EEFFF4;
	margin: 2em auto;
	width: 300px;
	height: 250px;
	border-radius: 10px;
}

#apprenticeapplication_name, #apprenticeapplication_email {
	background-color: white;
	width: 200px;
	height: 30px;
	margin: 20px auto;
}

.new_apprenticeapplication input[type=submit] {
	background-color: #000;
	color: #FFF;
	padding: 1.2em 2.1em;
	margin: 20px auto;
	border-radius: 0.3em;
}

label {
	display: none;
}