// Place all the styles related to the apprentices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'reset';
@import 'page';

$apprentice-blue: #C7E1E9;
$apprentice-green: #B7E4C4;
$apprentice-orange: #FAC8A1;
$apprentice-yellow: #F8F0B4;
$black: #000;
$gray: #E5E5E5;
$apprentice-radius: 6px;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: $gray;
    font-weight: normal;
}

.name, .email, .dates_available, {
  display: block;
  width: 200px;
  margin: 0 auto 10px;
  padding: 10px 15px;
  font-size: 14px;
  color: inherit;
  border: 1px solid #aaa;
  outline: 0;
  border-radius: 6px;
}
.yes-no--response, .willing_to_relocate {
  display: inline;
}

.yes-no--response {
  margin-left: 6px;
}

.yes-no {
  text-align: left;
  margin: 1em 11.2%;
}

:focus {
    outline-width: thick;
    outline-style: solid;
    outline-color: $apprentice-orange;
}

input[type=text] {
    color: $black;
}

.button {
    display: block;
    width: 230px;
    padding: 1em 1em;
    margin: 3em auto 0em auto;
    background-color: $black;
    color: white;
    border: none;
    border-radius: $apprentice-radius;
}

.button:hover {
    background-color: gray;
    color: $black;
}

::-webkit-datetime-edit-year-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank] + ::-webkit-datetime-edit-text[aria-valuetext=blank] {
    color: $gray;
}



@mixin placeholder($placeholder-stuff) {
  -webkit-placeholder: $placeholder-stuff;
     -moz-placeholder: $placeholder-stuff;
      -ms-placeholder: $placeholder-stuff;
          placeholder: $placeholder-stuff;
}

.container {
    background-color: $apprentice-blue;
    width: 300px;
    margin: 2em auto;
    padding: 4em 2em;
    border-radius: 9px;
}